*.o
*.pyc
*.txt.uncompressed
*.bro
*.unbro
tools/bro
build/
dist/
/WinBrotli/Debug
/WinBrotli/NetBrotli/bin/Debug
/WinBrotli/NetBrotli/obj/Debug
/WinBrotli/WinBrotli/Debug
*.sdf
*.opendb
*.suo
/WinBrotli/bin/Debug
/WinBrotli/Brotli/bin
/WinBrotli/Brotli/obj
/WinBrotli/NetBrotli/bin/Release
/WinBrotli/NetBrotli/obj/Release
/WinBrotli/Release
/WinBrotli/WinBrotli/Release
/WinBrotli/WinBrotli/x64
/WinBrotli/x64
